<!DOCTYPE html>
<html lang="en">
<head>
    <!--[ Meta for browser ]-->
    <meta charset='UTF-8'/>
    <meta content='width=device-width, initial-scale=1, user-scalable=1, minimum-scale=1, maximum-scale=1' name='viewport'/>
    <meta content='IE=edge' http-equiv='X-UA-Compatible'/>

    <title>Lift Mobi</title>
    <!-- META DETAILS, SEO CONFIGURATION -->
    <meta name="description" content="Lift Mobi is a tech-driven powerhouse of thinkers and doers, crafting inspiring campaigns that convey your brand's message to your target audience across digital channels">
    <meta content='Lift Mobi' name='Author'/>
    <link href='https://hunter87ff.github.io/client/propaco' rel='author'/>
    <link href='Lift Mobi' rel='publisher'/>
    <meta content='Lift Mobi' property='article:author'/>
    <meta content='Lift Mobi' property='article:publisher'/>
    <meta content='https://hunter87ff.github.io/client/propaco' name='twitter:site'/>
    <meta content='Lift Mobi' name='twitter:creator'/>
    <meta content='https://hunter87ff.github.iostatic/img/logo.png' property='og:image'/>
    <meta content='https://hunter87ff.github.iostatic/img/logo.png' name='twitter:image'/>
    <meta content='Lift Mobi' property='og:image:alt'/>

    <!-- LINK RESOURCES -->
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins&&family=PT+Sans+Narrow&family=Hind+Madurai&family=Pacifico&family=Bree+Serif&family=Bebas+Neue&display=swap">
    <link rel="shortcut icon" href="static/img/logo.png" type="image/x-icon">
    <noscript>Please Enable Javascript For This Site! Else It'll Not Work Properly!!</noscript>

</head>
<body>
    <script type="text/javascript" src="static/js/jquery.js"></script>
    <header class="header">
        <img src="static/img/logo.png" class="logo"/>
        <div class="menu-button" id="menu-btn" onclick="toggleMenu()">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
          </div>
        <!--<i id="menu-btn" onclick="menu_toggle()" class="fa-solid fa-bars"></i>-->
        <ul class="nav">
            <img src="static/img/logo.png" /> <br>
            <li><a href="#performance" >Performance</a></li>
            <li><a href="#production" >Production</a></li>
            <li><a href="#marketing" >Marketing</a></li>
            <li><a href="#gamex" >GameX</a></li>
            <li><a href="/contact" >Contact</a></li>
            <li><a href="#why-us" >Why Us?</a></li>
            <div class="menu-social">
                <i class="fa-brands fa-facebook-square" style="color:#0176fc;"></i>
                <i class="fa-brands fa-instagram-square" style="color:#fc016a;"></i>
                <i class="fa-brands fa-twitter-square" style="color:#01b5fc ;"></i>
                <i class="fa-brands fa-youtube-square" style="color:#fc0101 ;"></i>
            </div>
        </ul>
    </header>

    <section class="cont">
        <video class="landing-vdo" disableremoteplayback="" autobuffer="" autoplay="" loop="" muted="" playsinline="" type="video/mp4" src="static/img/landing_vdo.mp4" ></video>
        <div class="line-1"></div>
        <div class="lfo-con">
            <div id="lfo" class="since"><p>SINCE <span><b style="color:#fd8802 ;">2023</b></span></p></div>
            <div id="lfo" class="ofc"><p>OFFICES  <span><b style="color:#a1a1a1 ;">8</b></span></p></div>
            <div id="lfo" class="client"><p>CLIENTS  <span><b style="color: #003cff;">870+</b></span></p></div>
            <div id="lfo" class="employ"><p>EMPLOYEES  <span><b style="color:green ;">100+</b></span></p></div>
    </div>
    <div style="margin-bottom: 20%;" class="line-1"></div>
    <div class="type-con left" id="agency">
        <img title="Agency" style="order:2;" src="static/img/agency.webp" class="img-100w"/>
        <p class="para">
            <span class="heading">Agency</span> <br>
            LIFTMOBI performance marketing. With regard to digital marketing, target analysis, media strategy, and creative productions, we assist clients across all sectors and regions in finding solutions to complex problems with more than 5 year in experience, LIFTMOBI is a leading digital marketing agency. We distinguish ourselves from competitors by using a special Global + Local strategy to assist clients in achieving outcomes they never would have imagined. We serve as your success navigator. We offer. geared for international performance marketing.<br>
            <span class="know-more"><a href="/pages/agency.html">Know More</a></span></p>
    </div>
    <div class="devider-mob"></div>
    <div class="type-con right" id="performance">
        <img title="performance"  src="static/img/performance.webp" class="img-100w"/>
        <p class="para">
            <span class="heading">Performance</span> <br>
            LIFTMOBI the best in mobile marketing 

            Leading digital marketing firm LIFTMOBI has more than five years of experience. Our global expertise helps our client by working as a team to identify problems, find solutions, and produce results. Our tailored marketing solutions give customers the ideal mix of content, media, and targeting tactics to accomplish objectives more quickly and effectively. clientele benefit from greater audience insights when combined with special analytics solutions, which improves their understanding of their core clientele. Because of this, our clients are always in the lead. To give our clients the best overall solution, the LIFTMOBI team is made up of a variety of people with various areas of expertise. Our team, which includes marketers, designers, and data analysts, can meet any problems.<br>
            <span class="know-more"><a href="pages/performance">Read More</a></span></p>
    </div>


    <div class="devider-mob"></div>
    <div class="type-con left" id="production">
        <img title="production" style="order:2;"  src="static/img/production.webp" class="img-100w"/>
        <p class="para">
            <span class="heading">Production</span> <br>
            We plan, create and edit audiovisual content. From concept design to rendering, we make 2D & 3D animation videos for you to market your brand.<br>
            <span class="know-more"><a href="pages/production">Read More</a></span></p>
    </div>


    <div class="devider-mob"></div>
    <div class="type-con right" id="marketing">
        <img  title="marketing" style="order:1;" src="static/img/marketing.webp" class="img-100w"/>
        <p class="para">
            <span class="heading">Marketing</span> <br>
            We rope in the right influencers to advocate your brand across channels. We get more and more people talking about your brand and grab more eyeballs with the best influencer marketing practices.<br>
            <span class="know-more"><a href="pages/production">Read More</a></span></p>
    </div>

    <div class="devider-mob"></div>
    <div class="type-con right" id="why-us">
        <img  title="why us?" style="order:1;" src="static/img/whyus.png" class="img-100w"/>
        <p class="para">
            <span class="heading">Why Us?</span> <br>
            Choose our agency because we have an exceptional team of specialists across diverse fields who will help your company effectively reach your target audience and beyond. With extensive expertise in marketing, advertising, design, content creation, and more, we deliver outstanding results. Our tailored strategies ensure your brand's success, increasing awareness, conversions, and ROI. We stay ahead of the curve, using cutting-edge solutions in the ever-changing digital landscape. Trust us as your dedicated partner to drive your business towards unmatched achievements. Your success is our mission.<br>
            <span class="know-more"><a href="pages/production">Read More</a></span></p>
    </div>
    </section>


    <!-- Footer Start -->
    <footer>
    <div class="row">
    <div class="col about" style="order:1 ;">
        <h3>Lift Mobi</h3>
        <p style="max-width: 200px;">We're a tech-driven powerhouse of thinkers and doers, crafting inspiring campaigns that convey your brand's message to your target audience across digital channels</p>
        <div class="social" style="font-size: 40px;">
            <i class="fa-brands fa-facebook-square" style="color:#0176fc;"></i>
            <i class="fa-brands fa-instagram-square" style="color:#fc016a;"></i>
            <i class="fa-brands fa-twitter-square" style="color:#01b5fc ;"></i>
            <i class="fa-brands fa-youtube-square" style="color:#fc0101 ;"></i>
            <i class="fa-brands fa-whatsapp-square" style="color:#04a304 ;"></i>
        </div>
    </div>
    <div  class="col links" style="order:2;">
        <h3>Useful Links</h3>
        <ul>
            <li><a href="#">Career</a></li>
            <li><a href="#">Partnership</a></li>
            <li><a href="#">Support</a></li>
            <li><a href="#">Advertisement</a></li>
        </ul>
    </div>
    <div class="col links" style="order:3;">
        <h3>Some Links</h3>
        <ul>
            <li><a href="#faq">F.A.Q</a></li>
            <li><a href="#cookies-policy">Cookies Policy</a></li>
            <li><a href="#terms-of-services">Terms Of Service</a></li>
            <li><a href="#faq">Privacy Policy</a></li>
        </ul>
    </div>
    <div class="col subscribe" style="order:4 ;">
        <h3>Newsletter</h3>
        <div>
            <input id="email" required type="email" placeholder="Your email id here" />
            <button type="submit" id="sub-btn" onclick="subscribe()">Subscribe</button>
        </div>
    </div>
    </div>
</div>
    <div class="row copyright">
        <div class="footer-menu">  
            <a href="">Home</a>
            <a href="">About</a>
            <a href="">Contact</a>
            <a href="">Blog</a>
            <a href="">Social</a>
        </div>
        <p>Copyright &copy; 2023 LiftMobi</p>
</footer>
<script type="text/javascript">
    $.post("/api/load", {"ping":"pong"}, function(response) {
  //console.log(response);
})
</script>
<script src="static/js/script.js"></script>
</body>
</html>

